.f-info{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09),
                0 0 10px rgba(0, 0, 0, 0.09) inset,
                10px 0 10px -10px rgba(0, 0, 0, 0.09),
                -10px 0 10px -10px rgba(0, 0, 0, 0.09);
}

.f-info h2{
    font-size: 12px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
    margin-top:14px;
}

.f-info .f-content{
    margin: 0px 42px 0px 40px;
}

.f-info .f-content .line{
    border: 1px solid #373737;
    width: 65%;
    margin: 0px 6px 0px 6px;
}

.f-info .f-content h3{
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
}

.f-info .f-content .f-time label{
    font-size: 16px;
    font-weight: 500;
}

.f-info .f-content label{
    font-size: 19px;
    font-weight: 500;
}
.f-info.pressed {
    transform: scale(0.97);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}