.input-field{
    position: relative;
}

.input-field input{
    width: 298px;
    height: 46px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 15px;
    border: 2px solid #6a6a6a;
    background: transparent;
    color: #000000;
    outline: none;
}

.input-field label{
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 14px;
    padding: 0 2px;
    background: #F1F0ED;
}
