.header-register-flight{
    font-size: 35px;
    padding: 60px 0;
    color: #373737;
}

.container-details-flight{
    height: 550px;
    width: 64%;
    border: 2px solid #373737;
}

.container-details-flight .header{
    background-color: #373737;
}

.container-details-destination{
    height: 1100px;
    width: 64%;
    border: 2px solid #373737;
}

.container-details-destination h2{
    color: #373737;
    text-transform: uppercase;
}

.container-details-destination .header{
    background-color: #373737;
}

.buttons button{
    background-color: #373737;
}

.custom-file span {
    display: inline-block;
    margin: 8px 0;
    padding: 10px 15px;
    background-color: #eee;
    width: 100%;
    font-size: 14px;
    color: #464646;
    border: 1px solid #131313;
}

.container-details-destination .textArea-field{
    position: relative;
}

.container-details-destination textarea{
    border: 2px solid #6a6a6a;
    background: transparent;
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 150px;
    padding: 12px 10px 12px 10px;
    color: #373737;
    resize: none;
}

.container-details-destination .textArea-field label{
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 14px;
    padding: 0 2px;
    background: #F1F0ED;
}